<div class="body">
  <h1 class="heading">Employee Management</h1>
  <div class="container">
    <div class="emp-lst-con">
      <h3 class="list-head">Employees</h3>
      <div
        class="lst-item"
        id="sd"
        *ngFor="let employee of employees"
        (click)="selectEmployee(employee)"
        [ngStyle]="{
          'font-weight': selectedEmployee.id == employee.id ? 'bold' : '400'
        }"
      >
        <span>{{ employee.id }}</span>
        <span>{{ employee.name }}</span>
      </div>
    </div>
    <div class="emp-lst-con emp-det">
      <h3 class="list-head">Employee Details</h3>
      <div>
        <p>
          <span>ID : </span><span>{{ selectedEmployee.id }}</span>
          <span>Name : </span><span>{{ selectedEmployee.name }}</span>
        </p>
        <p>
          <span>Role : </span><span>{{ selectedEmployee.role }}</span>
          <span>Job Level : </span><span>{{ selectedEmployee.level }}</span>
        </p>
        <br />
        <div *ngIf="selectedEmployee.projects.length > 0">
          <h3 class="lst-head">Projects</h3>
          <table>
            <tr>
              <th>ID</th>
              <th>Project Name</th>
              <th>Start Date</th>
              <th>End Date</th>
            </tr>
            <tr *ngFor="let project of selectedEmployee.projects">
              <td>{{ project.id }}</td>
              <td>{{ project.projectName }}</td>
              <td>{{ project.startDate }}</td>
              <td>{{ project.endDate }}</td>
            </tr>
          </table>
        </div>
        <br />
        <div *ngIf="selectedEmployee.certifications.length > 0">
          <h3 class="lst-head">Certifications</h3>
          <table>
            <tr>
              <th>ID</th>
              <th>Certificate Name</th>
              <th>Certification Date</th>
            </tr>
            <tr *ngFor="let certificate of selectedEmployee.certifications">
              <td>{{ certificate.id }}</td>
              <td>{{ certificate.name }}</td>
              <td>{{ certificate.completeDate }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
